{% set id = field('id') %}
{% set classes = classNames('qx-row', field('v_align').value ? field('v_align').value : "",{
  'qx-no-gutters' : (field('columns_gap') == 'no-gutters'),
	'qx-flex-md-row qx-flex-column-reverse' : (field('mobile_reverse') == true),
}, field('class'))
%}

{% set wrapClasse = classNames('qx-row-wrap', visibilityClassNode(node.visibility)) %}
{% set rowId = "id='" ~ id ~ "'" %}
{% set rowClasses = "class='" ~ classes ~ "'" %}
{% set wrapClasses = "class='" ~ wrapClasse ~ "'" %}
{% set bg_overlay = field('background_overlay') %}
{% set background = field('background') %}

{% set parallax = '' %}
{% if background.state.normal.properties.parallax_method == "js" %}
  {% set parallaxInfo = "" %}
    {% if background.state.normal.properties.js_parallax_y %}
      {% set parallaxInfo = parallaxInfo ~ 'bgy:' ~  background.state.normal.properties.js_parallax_y ~ ';' %}
    {% endif %}
    {% if background.state.normal.properties.js_parallax_x %}
      {% set parallaxInfo = parallaxInfo ~ 'bgx:' ~  background.state.normal.properties.js_parallax_x ~ ';' %}
    {% endif %}
    {% set parallax = ' data-qx-parallax="' ~ parallaxInfo ~ '"' %}
{% endif %}

{# dynamic tag #}
{{ "<" ~ field("html_tag") ~ " " ~ rowId ~ " " ~ wrapClasses ~ " >"}}
{{ "<div " ~ rowClasses ~ parallax ~ " >"}}
  
  {% if (bg_overlay and ( getOpacity(bg_overlay, 'normal') or getOpacity(bg_overlay, 'hover') ) ) %}
    {% set overlayClass = "qx-background-overlay " ~ id ~ "-background-overlay" %}
    <div class="{{ overlayClass }}"></div>
  {% endif %}
   {{ renderer.render( node['children'], null, 'frontend' ) | raw}}
</div>
{{ "</" ~ field("html_tag") ~ ">"}}