{% set id = field('id') %}
{% set class = field('class') %}

{% set classes = classNames('qx-element qx-element-joomla-articles-v2', visibilityClass(node.visibility), class ) %}
{% set animation = "" %}

{% set layout = field('layout') %}

{% set category = field('category') %}
{% set show_child_category_articles = field('show_child_category_articles') %}
{% set count = field('count') %}
{% set introtext_limit = field('introtext_limit') %}
{% set show_featured = field('show_featured') %}
{% set article_ordering = field('article_ordering') %}
{% set article_ordering_direction = field('article_ordering_direction') %}
{% set show_date_format = field('date_format') %}
{% set data = {
    'category' : category, 
    'show_child_category_articles' : show_child_category_articles, 
    'count' : count, 
    'show_featured' : show_featured.value, 
    'introtext_limit' : introtext_limit, 
    'article_ordering' : article_ordering.value, 
    'article_ordering_direction' : article_ordering_direction.value,
    'show_date_format' : show_date_format
} %}


{% set mediaClass = '' %}
{% set bodyClass = 'qx-media-body' %}
{% set titleClass = 'qx-media-heading' %}
{% set infoClass = 'qx-post-meta' %}
{% set textClass = 'qx-element-jarticle-introtext' %}
{% set gird = false %}
{% if layout != 'list' %}
    {% set gird = true %}
    {% set mediaClass = 'qx-card-img-top' %}
    {% set bodyClass = 'qx-card-body' %}
    {% set titleClass = 'qx-card-title qx-media-heading' %}
    {% set infoClass = 'qx-post-meta' %}
    {% set textClass = 'qx-card-text qx-element-jarticle-introtext' %}
{% endif %}

{# Icon #}
{% set buttonText = field('readmore_text') %}
{% set enable_Bicon = field('enable_Bicon') %}
{% set sIcon = field('show_icon') %}
{% set icon = '' %}
{% set icon_alignment = field('icon_alignment') | default({'value' : 'left'}) %}
{% if sIcon.media %}
    {% if sIcon.media.type == "svg" %}
        {% set icon = loadSvg(sIcon.media.svg)|raw %}
    {% endif %}
{% elseif sIcon.url %}
    {% set icon = image(sIcon.url, alt_text) %}
{% endif %}

{% set animation = field("animation") %}
{% set animationRepeat = field("animation_repeat") %}
{% set animationDelay = field('animation_delay').value %}
{% set background = field('background') %}
    
{% embed "animation.twig" with {
    "id" : id,
    "classes" : classes,
    "animation" : animation,
    "animationRepeat" : animationRepeat,
    "animationDelay" : animationDelay,
    "background" : background
} %}
    {% block element %}
        {% set items = ElementApiCall('joomla-articles', data) %}
        {% if items %}

            {% if layout == 'list' %}<ul class="qx-list-unstyled">{% else %}<div class="qx-card-{{ layout }}">{% endif %}

                {% for index, item in items %}
                    {% set images = item.images %}
                    {% set link = {'url': item.link, target: false, nofollow: false} %}
                    {% if gird %}<div class="qx-card">{% else %}<li class="qx-media qx-mb-4">{% endif %}
                    {% if field('show_image') and images.image_intro %}
                        <figure class="{{ mediaClass }}">
                            {{ image(images.image_intro, images.image_intro_alt, 'qx-media-object qx-img-responsive') }}
                        </figure> <!-- end of media -->
                    {% endif %}
                    
                    <div class="{{ bodyClass }}">
                        <h3 class="{{ titleClass }}">
                            {% if field('link_titles') %}
                                {{ item.title | link(link) }}
                            {% else %}
                                {{ item.title }}
                            {% endif %}                    
                        </h3>
                        <div class="{{ infoClass }}">
                            {% if field('show_date') %}
                            <span class="qx-element-jarticle-date">
                                {% if field('show_meta_icon') %}
                                    <i class="qxif-calendar-alt"></i>
                                {% endif %}
                                
                                {{ item.displayDate }}
                            </span>
                            {% endif %}

                            {% if field('show_author') %}
                            <span class="qx-element-jarticle-writtenby">
                                {% if field('show_meta_icon') %}
                                    <i class="qxif-user"></i>
                                {% endif %}
                                
                                {{ item.displayAuthorName }}
                            </span>
                            {% endif %}
                            
                            {% if field('show_category') %}
                            <span class="qx-element-jarticle-category">
                                {% if field('show_meta_icon') %}
                                    <i class="qxif-folder-open"></i>
                                {% endif %}
                                
                                {{ item.displayCategoryTitle | raw }}
                            </span>
                            {% endif %}
                        </div><!--/.post-meta-->

                        {% if field('show_introtext') and item.displayIntrotext != '' %}
                        <p class="{{ textClass }}">
                            {{ item.displayIntrotext|raw }}
                        </p>
                        {% endif %}

                        {# Read More #}
                        {% if field('show_readmore') %}
                            {% set btnClass = 'qx-btn qx-flex qx-flex-middle qx-flex-inline ' ~ field('readmore_style') ~ ' ' ~ field('readmore_size') %}

                            {% if enable_Bicon == true %}
                                {% if icon_alignment.value == 'left' %}
                                    {{ ( '' ~ icon ~ ' ' ~ '<span>' ~ buttonText ~ '</span>') | link(link, btnClass, 'itemprop="url"') }}
                                {% else %}
                                    {{ ('' ~ '<span>' ~ buttonText ~ '</span>' ~ ' ' ~ icon ~ '') | link(link, btnClass, 'itemprop="url"') }}
                                {% endif %}
                            {% else %}                                           
                                {{ buttonText | link(link, btnClass, 'itemprop="url"') }}
                            {% endif %}  
                        {% endif %}

                    </div>
                    {% if gird %}</div>{% else %}</li>{% endif %}
                {% endfor %}
            {% if gird %}</div>{% else %}</ul>{% endif %}
        {% else %}
            <p class="qx-alert qx-alert-warning qx-m-0">No Matching Results!</p>
        {% endif %}
    {% endblock %}
{% endembed %}